{% extends "layout.html" %}
{% block body %}
<form action="/register" method="post">
    <input  autofocus autocomplete=off type="text" placeholder="Username" name="name" required>
    <!-- <input autocomplete=off type="password" placeholder="Password" name="password" required> -->
     <select>
        <option disabled selected value="">Sport</option>
        <option value="Basketball">Basketball</option>
        <option value="Football">Football</option>
        <option value="Volleyball">Volleyball</option>
     </select>
     <button type="submit">Register</button>
</form>
{% endblock %}